/* CSS Styles für die Custom Radio Buttons auf dieser Seite */
.custom-radio-button.selected {
   background-color: #2e315e;
   color: white;
   transition: all 0.3s ease-in;
}
/* Select Field Placeholder wird initial auf Text-Color: white gesetzt, um Flackern des Placeholder Textes zu verhindern*/
.placeholder-text {
   color: white;
}
/* CSS Styles, um das 1. Element im Dropdown-Menü ("Zimmerkategorie") auszublenden*/
.dropdown-list .dropdown-link:first-of-type {
   display: none !important;
}
/* Die Preisanzeige für den Gutschein bleibt initial ausgeblendet, bis der Nutzer alle erforderlichen Optionen gewählt hat */
[villa-custom-attribute="gutschein-number-of-nights"] {display: none;}