/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* =============================== */

/* CSS Overrides - übernommen vom Relume Style Guide */

/* Ensure all elements inherit the color from its parent */
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-nav-brand,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-slider-arrow-left,
.w-slider-arrow-right,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}

/* Remove default Webflow chevron from form select */
select{
  -webkit-appearance:none;
}

/* =============================== */

/* Für die Navbar */

#topnav .nav_navbar-wrapper {
  -webkit-transition: height 350ms;
  transition: height 350ms;
}

#topnav a.logo {
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

#topnav.is--sticky .nav_navbar-wrapper {
  height: 5rem;
}

#topnav.is--sticky a.logo {
  transform: scale(0.7);
}


/* =============================== */

/* Für den Weglot Language Switcher */

  /* Um ein Flackern beim Umstellen der Sprache zu vermeiden, ist das Label des Language Switcher zunächst auf die Font-Farbe "weiß" eingestellt (wenn Englisch als Sprache eingestellt ist) und wird dann - sobald alle Weglot Scripts vollständig geladen wurden - mit einer CSS-Transition zurück zur Standard-Font-Farbe gewechselt. */
  [data-weglot="toggle-label"] {
    transition: color 0.3s ease-in-out;
  }
  html[lang="en"] [data-weglot="toggle-label"] {color: #fff;}
  html[lang="en"] [data-weglot="toggle-label"].weglot-is-ready {color: inherit;}
  
  
  /* =============================== */
 
@media screen and (max-width: 991px) and (min-width: 768px) {

  /* Media query for tablet*/
  #topnav.is--sticky a.logo {
    transform: scale(0.75);
  }

  #topnav.is--sticky .nav_navbar-wrapper {
    height: 4.5rem;
  }
}

@media screen and (max-width: 767px) and (min-width: 480px) {

  /* Media query for mobile landscape */
  #topnav.is--sticky a.logo {
    transform: scale(0.85);
  }

  #topnav.is--sticky .nav_navbar-wrapper {
    height: 4.3rem;
  }
}

@media screen and (max-width: 479px) {

  /* Media query for mobile portrait */
  #topnav.is--sticky a.logo {
    transform: scale(0.75);
  }
}


/* Für die Form Validerung mit validate.js */

label.error {
  text-transform: none;
  background-color: #f5f578;
  letter-spacing: 0.075rem;
  padding: 1.25rem 1.55rem;
  font-size: 1rem;
  position: relative;
  margin-top: 0.75rem;
  z-index: 11;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

label.error::after {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #f5f578;
  border-width: 10px;
  margin-left: -10px;
}

/* =============================== */

/* Für den Google Maps Marker */

.w-widget-map .gm-style-iw {
  font-family: Garamond-Villa, "Palatino Linotype", sans-serif;
  color: #777061;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.07rem;
  line-height: 135%;
}

.w-widget-map .gm-style .gm-style-iw-d {
  padding: 0 !important;
  overflow: visible !important;
}

.w-widget-map .gm-style-iw.gm-style-iw-c {
  padding: 0.7rem 1.25rem !important;
}

/* =============================== */

/* Utility classes */

.hidden {
  overflow: hidden;
}

.absolute {
  position: absolute !important;
}

/* =============================== */

/* Sonstiges */

.arrow-before:before {
  content: "\27F6";
  margin-right: 0.3rem;
  font-size: 0.85em;
  position: relative;
}

/*  Removes unwanted iOS form styling */
/* Set css appearance to none & border radius to 0 */
input,
textarea {
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

input::placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

/* removes the default spinner from input number fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.tippy-content {
  padding: 1.35rem;
  font-size: 1rem;
}

.checkbox-icon svg {
  width: 100%;
  height: 100%;
}

/* customization of the webflow slider */
.w-slider-dot {
  height: 0.7rem;
  width: 0.7rem;
}

.w-slider-nav-invert>div.w-active {
  background-color: #777061;
}

.w-slider-nav-invert>div {
  background-color: #cecece;
}

/* Style für Custom Element Buttons wird zurückgesetzt: */
button {
  all: unset;
  cursor: pointer;
} 