/* Für den Weglot Language Picker */
.weglot-container .wg-drop.country-selector {
   outline: 0;
}
.weglot-container .wg-drop.country-selector .wgcurrent {
   border: none;
}
.weglot-container .wg-drop.country-selector .wgcurrent:after {
   background-image: url('data:image/svg+xml; utf8, <svg fill="currentColor" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"> <path d="m50.512 72.359-41.07-40.699 2.8086-2.8398 38.262 37.91 38.34-38 2.8086 2.8477z"></path></svg>');
   transform: rotate(0) !important;
   background-size: 1.125rem;
   opacity: 0.5;
}
.weglot-container .wg-drop.country-selector a {
   color: #524f47;
   font-size: 0.75rem;
}
.weglot-container .wg-drop.country-selector a:hover {
   text-shadow: 1px 0 0 #c3bcac;
   color: #524f47 !important;
}
.wg-drop.country-selector .wgcurrent a {
   padding-right: 2rem !important;
}

/* =============================== */

/* Für die Navbar */

#topnav .nav_navbar-wrapper {
   -webkit-transition: height 350ms;
   transition: height 350ms;
}
#topnav a.logo {
   -webkit-transition: all 350ms;
   transition: all 350ms;
}
#topnav.is--sticky .nav_navbar-wrapper {
   height: 5rem;
}
#topnav.is--sticky a.logo {
   transform: scale(0.7);
}
.logo-headline::after {
   content: "\00AE";
   font-size: 0.48em;
   position: relative;
   top: -1em;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
   /* Media query for tablet*/
   #topnav.is--sticky a.logo {
      transform: scale(0.75);
   }
   #topnav.is--sticky .nav_navbar-wrapper {
      height: 4.5rem;
   }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
   /* Media query for mobile landscape */
   #topnav.is--sticky a.logo {
      transform: scale(0.85);
   }

   #topnav.is--sticky .nav_navbar-wrapper {
      height: 4.3rem;
   }
}

@media screen and (max-width: 479px) {
   /* Media query for mobile portrait */
   #topnav.is--sticky a.logo {
      transform: scale(0.75);
   }
}

/* =============================== */

/* Für die Form Validerung mit validate.js */

label.error {
   text-transform: none;
   background-color: #f5f578;
   letter-spacing: 0.075rem;
   padding: 1.25rem 1.55rem;
   font-size: 1rem;
   position: relative;
   margin-top: 0.75rem;
   z-index: 11;
   -webkit-transition: 0.5s;
   transition: 0.5s;
}
label.error::after {
   bottom: 100%;
   left: 10%;
   border: solid transparent;
   content: "";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-color: rgba(136, 183, 213, 0);
   border-bottom-color: #f5f578;
   border-width: 10px;
   margin-left: -10px;
}

/* =============================== */

/* Für den Google Maps Marker */

.w-widget-map .gm-style-iw {
   font-family: Garamond-Villa, "Palatino Linotype", sans-serif;
   color: #777061;
   font-size: 1rem;
   font-weight: 400;
   letter-spacing: 0.07rem;
   line-height: 135%;
}
.w-widget-map .gm-style .gm-style-iw-d {
   padding: 0 !important;
   overflow: visible !important;
}
.w-widget-map .gm-style-iw.gm-style-iw-c {
   padding: 0.7rem 1.25rem !important;
}

/* =============================== */

/* Utility classes */

.hidden {
   overflow: hidden;
}
.absolute {
   position: absolute !important;
}

.position-relative {
   position: relative;
}

/* =============================== */

/* Sonstiges */

.arrow-before:before {
   content: "\27F6";
   margin-right: 0.3rem;
   font-size: 0.85em;
   position: relative;
}

/*  Removes unwanted iOS form styling */ 
/* Set css appearance to none & border radius to 0 */
input, textarea {
   border-radius: 0;
   -webkit-border-radius: 0;
   -webkit-appearance: none !important;
   -moz-appearance: none !important;
   appearance: none !important;
}

input::placeholder {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-transition: all 350ms;
   transition: all 350ms;
}

/* removes the default spinner from input number fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.tippy-content {padding: 1.35rem; font-size: 1rem}

.checkbox-icon svg {
   width: 100%;
   height: 100%;
}

/* customization of the webflow slider */
.w-slider-dot {
   height: .7rem;
   width: .7rem;
}
.w-slider-nav-invert>div.w-active {
   background-color: #777061;
}

.w-slider-nav-invert > div {
   background-color: #cecece;
}